@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border: 1px solid #40405020;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #40405050;
	border-radius: 999px;
}
